$sm-viewport: 640px;
$md-viewport: 960px;
$lg-viewport: 1920px;
$xl-viewport: 1921px;

$honey-yellow: #ddaa00;
$saddle-brown: #a65111;
$dark-olive-green: #7c5d3d;
$light-slate-gray: #85aaaa;
$blue-berry: #173f4e;